@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #393e46;
}
a {
  text-decoration: none;
}
/* Footer */
footer {
  z-index: 99;
  display: flex;
  width: 100%;
  bottom: 0;
  position: fixed;
  justify-content: center;
}
footer i {
  font-size: 32px;
  margin: 5px 10px;
}
/* Icon Colors */
.fa-facebook-f {
  color: #4267b2;
}
.fa-instagram {
  color: #e1306c;
}
.fa-youtube {
  color: #ff0000;
}
.fa-x-twitter {
  color: black;
}
.fa-envelope {
  color: #eeeeee;
}
/* Start Screen */
#start-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
.red {
  color: #ff3b19;
}
.green {
  color: #4cff4c;
}
.yellow {
  color: #ffff4e;
}
#game-title {
  padding: 10px 0px;
}
#difficulties {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#difficulties button {
  padding: 20px;
  margin: 40px 0px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #04c5cf;
  background-color: #222831;
  border: none;
  border-radius: 20px;
}
/* Game Screen */
#game-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #eeeeee;
  display: none;
  padding: 5px;
}
/* Game Header */
#game-header h2 {
  font-size: 32px;
  text-align: center;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Game info */
#game-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  font-size: 20px;
}
/* Current Word */
#current-word {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
  gap: 3px;
}
.letter {
  padding: 5px;
  font-size: 40px;
  text-align: center;
  min-width: 39px;
  color: black;
}
/* Player Guess */
#player-guess {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
#player-input {
  height: 25px;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
}
#player-guess button {
  padding: 5px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 20px;
}
#life {
  color: #ff0000;
}
#hint {
  color: #ffff4e;
}

/* Guess History */
#history {
  text-align: center;
  padding: 5px;
}
#history-info h5 {
  font-size: 32px;
  color: #04c5cf;
}
#history-info hr {
  border: 1px solid black;
  margin: 15px 0px;
}
.history-word {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 5px;
}
/* Answers */
.correct-answer {
  background-color: #00ff00c0;
}
.wrong-place {
  background-color: #ffff00be;
}
.wrong-answer {
  background-color: #ff0000c9;
}

/* Correct Answer Screen */
#correct-answer-screen {
  display: none;
}
.answer-container {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #eeeeee;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
.progress-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.correct-answer-buttons {
  width: 50%;
}
.progress-buttons button {
  background: transparent;
  border: none;
  border-radius: 50%;
  font-size: 30px;
}
.reset {
  color: #ff0000c9;
}
.next {
  color: #00ff00c0;
}

/* Wrong Answer Screen*/

#wrong-answer-screen {
  display: none;
}

/* Contact */
#contact-container {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  width: 100%;
  padding: 10px 20px;
  color: #eeeeee;
  gap: 10px;
}
.input-area {
  display: flex;
  gap: 10px;
}
#contact-form input {
  padding: 5px;
  border: none;
  background-color: #222831;
  border-radius: 5px;
  color: #ffffff;
}
#text-area {
  display: flex;
  flex-direction: column;
}
textarea {
  border: none;
  border-radius: 5px;
  background-color: #222831;
  color: #ffffff;
  padding: 5px;
  width: 100%;
}
#form-button {
  display: flex;
  justify-content: end;
}
#send-button {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  color: #222831;
  background-color: #00ff00c0;
}

/* Feedback Result */
#result-screen {
  display: none;
}
#feedback-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  color: #eeeeee;
}

/* 404 Page */
#error-page {
  min-height: 60vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  gap: 20px;
  color: #eeeeee;
}

#error-page h2 {
  font-size: 50px;
}

#error-page h3 {
  font-size: 30px;
}

#page-explanation {
  font-size: 20px;
}

#error-home {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #222831;
}

#error-home a {
  color: #04c5cf;
  font-size: 20px;
  font-weight: 600;
}

/* Tablet */
@media screen and (min-width: 768px) {
  footer i {
    font-size: 50px;
  }
  /* Start Screen */
  #start-screen {
    padding: 10px;
  }
  h1 {
    font-size: 70px;
    margin-bottom: 50px;
  }
  #difficulties button {
    font-size: 60px;
  }
  /* Game Screen */
  #game-screen {
    padding: 10px;
  }
  /* Game Header */
  #game-header h2 {
    font-size: 50px;
  }
  /* Game Info */
  #game-info {
    font-size: 40px;
  }
  /* Current Word */
  #current-word {
    gap: 10px;
  }
  /* Letters */
  .letter {
    font-size: 90px;
    width: 80px;
  }

  /* Player Input */

  #player-guess {
    margin: 20px 0px;
  }

  #player-input {
    padding: 20px 10px;
    font-size: 30px;
    width: 300px;
  }

  /* Powers */
  #player-guess button {
    font-size: 40px;
  }

  #history-info h5 {
    font-size: 45px;
  }
  #history-info hr {
    width: 70%;
    margin: 15px auto;
  }

  /* Correct Answer Screeen */
  .answer-container {
    gap: 30px;
    font-size: 45px;
    line-height: 60px;
  }

  .progress-buttons button {
    font-size: 50px;
  }

  /* Contact */
  #contact-form {
    padding: 50px 100px;
  }
  #contact-container {
    font-size: 30px;
  }
  #contact-form input {
    font-size: 25px;
  }
  textarea {
    width: 100%;
    font-size: 25px;
  }
  #send-button {
    font-size: 30px;
    padding: 10px;
  }
  /* Contact Result */
  #feedback-result {
    text-align: center;
    font-size: 35px;
    min-height: 40vh;
  }

  /* 404 Page */
  #error-page {
    gap: 40px;
  }
  #error-page h2 {
    font-size: 60px;
  }
  #error-page h3 {
    font-size: 55px;
  }
  #page-explanation {
    font-size: 40px;
  }

  #error-home {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #222831;
  }

  #error-home a {
    color: #04c5cf;
    font-size: 40px;
    font-weight: 600;
  }
}
