@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #393e46;
}
/* Footer */
footer {
  z-index: 99;
  display: flex;
  width: 100%;
  bottom: 0;
  position: fixed;
  justify-content: center;
}
footer i {
  font-size: 32px;
  margin: 5px 10px;
}
/* Icon Colors */
.fa-facebook-f {
  color: #4267b2;
}
.fa-instagram {
  color: #e1306c;
}
.fa-youtube {
  color: #ff0000;
}
.fa-x-twitter {
  color: black;
}
.fa-envelope {
  color: #eeeeee;
}
/* Start Screen */
#start-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
.red {
  color: #ff3b19;
}
.green {
  color: #4cff4c;
}
.yellow {
  color: #ffff4e;
}
#game-title {
  padding: 10px 0px;
}
#difficulties {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#difficulties button {
  padding: 20px;
  margin: 40px 0px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #04c5cf;
  background-color: #222831;
  border: none;
  border-radius: 20px;
}
/* Game Screen */
#game-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #eeeeee;
  display: none;
}
/* Game Header */
#game-header h2 {
  font-size: 32px;
  text-align: center;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Game info */
#game-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}
/* Current Word */
#current-word {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
  gap: 5px;
}
.letter {
  padding: 5px;
  font-size: 42px;
  text-align: center;
  width: 40px;
  color: #222831;
}
/* Player Guess */
#player-guess {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
#player-input {
  height: 25px;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
}
#player-guess button {
  padding: 5px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 20px;
}
/* Powers */
#powers {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}
#life {
  color: #ff0000;
}
#hint {
  color: #ffff4e;
}

/* Guess History */
#history {
  text-align: center;
  padding: 5px;
}
#history-info h5 {
  font-size: 32px;
  color: #eeeeee;
}
#history-info hr {
  border: 1px solid #222831;
  margin: 5px 0px;
}
.history-word {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 5px;
}
/* Answers */
.correct-answer {
  background-color: #00ff00c0;
}
.wrong-place {
  background-color: #ffff00be;
}
.wrong-answer {
  background-color: #ff0000c9;
}

/* Correct Answer Screen */
#correct-answer-screen {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #eeeeee;
  font-size: 20px;
  line-height: 50px;
  display: none;
}
#correct-answer-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#congratz-buttons {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 50px;
}
#congratz-buttons button {
  background: transparent;
  border: none;
  border-radius: 50%;
  font-size: 30px;
}
#reset-button {
  color: #ff0000c9;
}
#next-button {
  color: #00ff00c0;
}
